@import "./vars";

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  header {
    position: sticky;
    top: 0;
  }

  main {
    flex-grow: 1;
    padding: 5%;
    // margin: 5vh 0;
    // max-width: 95%;

    // @media (min-width: $tablet) {
    //   max-width: 80%;
    // }
  }
}
