@import "./vars";

.contact {
  display: flex;
  width: 90vw;
  flex-direction: column;

  .httpErrMsg {
    width: 100%;
  }

  .fieldErrMsg {
    // margin-left: 0.5rem;
    color: red;
    &::before {
      content: " ";
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  > * {
    margin-bottom: 1rem;
  }

  button {
    align-self: flex-start;
  }

  textarea {
    height: 25vh;
    resize: vertical;
  }

  label {
    margin-bottom: 0.5rem;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    > * {
      margin-bottom: 3rem;
    }

    label[for="message"] {
      width: 100%;
    }

    .wrapper {
      width: 48%;
      flex-direction: row;
      align-items: flex-start;

      label {
        margin-bottom: 0;
        // min-width: 12rem;
      }

      input {
        flex-grow: 1;
        margin-left: 0.5rem;
      }
    }

    textarea {
      width: 100%;
    }
  }
}
